body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
    font-size: 30px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
}
.name-highlight{
    color: rgb(242, 4, 107);
}
.half-width{
    width: 40%;
    float: left;
    margin-left:5%;
    padding-left: 2%;
    margin-top: 2%;
}
.half-width img{
    width: 100%;
    border-radius: 100px 300px 400px;
}